.AddTransactionForm{
    background-color:whitesmoke;
    border: 1px lightgray solid;
    margin-top: 35px;
}

.AddTransactionForm form {
    
    text-align: center;
}

.AddTransactionForm label{

    color: black;
    font-size: 25px;

}

.amount{
    width: 15%;
}