.AddTransactionForm{
    
    
    background-color: #273951;
    margin-top: 35px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.AddTransactionForm form {
    
    text-align: center;
    color: white;
}

.AddTransactionForm label{

    color: white;
    font-size: 25px;

}

.amount{
    width: 15%;
}

input[type="radio"].ingreso{
    accent-color: #15be53;
}

input[type="radio"].egreso{
    accent-color: #ea2261;
}