@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containerResumen {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.containerResumen h1 {
    flex-shrink: 0;  
    margin-bottom: 20px;
}

.transacciones {
    flex: 1;  
    overflow: hidden;
    display: flex;
    gap: 20px;
}

.transacciones .col-5 {
    flex: 1;  
    display: flex;
    flex-direction: column;
}


.total {
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    font-weight: bold;

    border-radius: 8px;
    color: #2e2b8c;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.egresoTitulo {
    color: #ea2261;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.ingresoTitulo {
    color: #15be53;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}