.containerResumen{
    border: 1px solid silver;
    background-color: rgb(237, 233, 233);
    margin-top: 50px;
    height: 100%;
    
}
 

.containerTotal{
    border: 1px solid lightblue;
}


.ingresos, .egresos {
    border: 1px solid lightgreen;
    max-height: 500px;
    overflow-y: auto;
    height: 400px;
    border-radius: 3%;
}

.egresos {
    border: 1px solid lightcoral;
}